<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <p><%= flash[:notice]%></p>
    </div>
  <% end %>

    <% if @pitches.empty? %>
      <p>You don't have any pitches yet.</p>
    <% end %>
    <% @pitches.each do |pitch| %>
      <div class="card">
        <h4 class="card-header"><%= pitch.title %></h4>
        <div class="card-block">
          <p class="card-text"><%= pitch.description %></p>
          <%= link_to 'Edit', edit_pitch_path(pitch), class: 'btn btn-primary'%>
          <%= link_to 'Delete', pitch_path(pitch), method: 'delete', class: 'btn btn-primary'%>
        </div>
      </div>
    <% end %>


        <% if current_user.type == 'Student' %>
          <% if current_user.cohort.setting.active %>
            <% if @pitches.count < current_user.cohort.setting.pitches_per_student%>
              <a href="/pitches/new" class='link_to_new_pitch'>Add a new Pitch</a>
            <% end %>
          <% end %>
        <% end %>


</div>
