<div class="container">
  <div class="container">
    <div class="row">
      <% if @errors[:notice] %>
        <h5 class='text-center'><%= @errors[:notice].last %></h5>
      <% end %>
      <% @pitches.each do |pitch| %>
        <div class='col-md-4'>
          <div class="card">
            <div class="card-header" value='<%= pitch.id%>'>
              <%= pitch.title %>
              <%= select_tag(:ranks, options_for_select((@pitches.map.with_index {|pitch, idx| [idx+1, pitch.id]}).unshift(['',''])),  {:class => 'rank-project'}) %>
            </div>
            <div class="card-block">
              <blockquote class="card-blockquote">
                <p><%= truncate(pitch.description, length: 140) %></p>
              </blockquote>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>

</div>
