<div class="container">
  <div class="row">
    <% @pitches.each do |pitch| %>
      <div class='col-md-4'><div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" aria-label="title"><%= pitch.title %></h3>
            <span class="rank"><%= pitch.votes.count%></span>
            <% if pitch.final %>
              <input type="checkbox" class="choose-idea" value="/pitches/<%= pitch.id %>/rank" checked="true">
            <% else %>
              <input type="checkbox" class="choose-idea" value="/pitches/<%= pitch.id %>/rank">
            <% end %>

        </div>
        <div class="panel-body">
          <p><%= pitch.description %></p>
        </div>
      </div></div>
    <% end %>
  </div>
</div>
