<div class="container">
  <div class="message-warning">
  </div>
  <% if @notice %>
    <span><%= @notice %> <%= link_to "here", teachers_settings_path%></span>
  <% else %>
    <% if @pitches.empty? %>
      <p>Students don't finish voting yet.</p>
    <% end %>

  <div class="row">
    <div id="accordion" role="tablist" aria-multiselectable="true">
    <% @pitches.each do |pitch| %>
      <div class='col-md-4'>
        <div class="card">
          <div class="card-header">
            <% if pitch.final %>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input choose-idea" value="/pitches/<%= pitch.id %>/rank" checked="true">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><%= pitch.title %></span>
              </label>
            <% else %>
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input choose-idea" value="/pitches/<%= pitch.id %>/rank" >
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><%= pitch.title %></span>
              </label>
            <% end %>
              <% if pitch.votes.count <= 2 %>
                <span class="rank rank-red tag tag-default tag-pill pull-xs-right"><%= pitch.votes.count%></span>
              <% elsif  pitch.votes.count >=3 && pitch.votes.count <=5 %>
                <span class="rank rank-orange tag tag-default tag-pill pull-xs-right"><%= pitch.votes.count%></span>
              <% else %>
                <span class="rank rank-green tag tag-default tag-pill pull-xs-right"><%= pitch.votes.count%></span>
              <% end %>
              <span class="pull-xs-right">(<%= pitch.student.first_name%>)</span>
          </div>
          <!-- <div class="card-block">
            <blockquote class="card-blockquote">
              <p><%= pitch.description %></p>
            </blockquote>
          </div> -->
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>
</end>
