<div class="container">
  <div class="row">
    <% @pitches.each do |pitch| %>
      <div class='col-md-4'>
        <div class="card">
          <div class="card-header">
            <%= pitch.title %>
            <span class="rank tag tag-default tag-pill pull-xs-right"><%= pitch.votes.count%></span>
            <% if pitch.final %>
              <input type="checkbox" class="choose-idea" value="/pitches/<%= pitch.id %>/rank" checked="true">
            <% else %>
              <input type="checkbox" class="choose-idea" value="/pitches/<%= pitch.id %>/rank">
            <% end %>
          </div>
          <!-- <div class="card-block">
            <blockquote class="card-blockquote">
              <p><%= pitch.description %></p>
            </blockquote>
          </div> -->
        </div>
      </div>
    <% end %>
  </div>
</div>
