<div class="container">
  <div class="row">
    <% if @cohorts %>
      <ul>
        <li><a href="/home/cohorts/<%= @cohorts.id%>/pitches"><%= @cohorts.name%></a> <a href="/cohorts/<%= @cohorts.id%>/settings/<%=  @cohorts.setting.id%>/edit">Setting</a></li>
        <% if !@cohorts.setting.active_first_round %>
          <div>
            <%= link_to 'Active Round 1', active_first_round_teachers_url, method: 'put',  class: 'btn btn-primary'%>
          </div>
        <% end %>
        <br>
        <% if @cohorts.setting.active %>
          <%= link_to 'Archive', archive_cohort_teachers_url, method: 'put',  class: 'btn btn-primary'%>
        <% end %>
      </ul>
    <% else %>
      <span>There is not active cohort. Create a new one <%= link_to "here", new_cohort_path%></span>
    <% end %>
  </div>
</div>
