  <div class="container">
    <h4>Update</h4>
      <div class="form-group row">

        <%= form_tag [@cohort, @setting], method: "put" do %>
            <input type="hidden" name="setting[cohort_id]" value="<%= @cohort.id%>">
          <div class="form-group">
              <label for="pitches_per_student">Number of pithes per student</label>
              <input class= "form-control" type="integer" name="setting[pitches_per_student]" value="<%= @setting.pitches_per_student%>" id="pitches_per_student" required="true">
          </div>

          <div class="form-group">
              <label for="student_vote_first_round">Number of vote per student in first round</label>
              <input class= "form-control" type="integer" name="setting[student_vote_first_round]" value="<%= @setting.student_vote_first_round%>" id="student_vote_first_round" required="true">
          </div>
          <div class="form-group">
            <label for="number_in_second_round">Number of projects in second round</label>
            <input class= "form-control" type="integer" name="setting[number_in_second_round]" value="<%= @setting.number_in_second_round%>" value="<%= @setting.number_in_second_round%>" id="number_in_second_round" required="true">
          </div>
          <div class="form-group">
            <label for="number_of_teams">Number of teams</label>
            <input class= "form-control" type="integer" name="setting[number_of_teams]" value="<%= @setting.number_of_teams%>" id="number_of_teams" required="true">
          </div>
          <br>
          <div class="form-group">
            <br><input class= "form-control" type="submit" name="name"  class="btn btn-primary" value="Submit">
          </div>
        <% end %>

      </div>
  </div>
