<div class="container">
    <% Cohort.last.setting.number_in_second_round.times do |idx| %>
        <div class="col-md-6 team" >
            <div class="">
              <span style="font-weight: bolder; font-size: 24px;"><%= teams[idx][:pitch]%></span>
            </div>
          <div id="team<%=idx+1%>" class='' ondrop="drop(event)">
            <% teams[idx][:student].each do |student|%>
                    <% if student.author?(teams[idx][:pitch]) %>
                        <ol class='student breadcrumb line-pitch' style="border-top: solid 5px #983334; background: #454545;">
                    <% else %>
                        <ol class='student breadcrumb'>
                    <% end %>
                    <li class='breadcrumb-item student-name'><%=student.first_name%></li>
                    <% student.ranks.order('rank ASC').each do |rank|%>
                        <% if rank.rank == 1 %>
                          <li class='breadcrumb-item' style='color: #5cb85c'><%= rank.pitch.title%></li>
                        <% elsif rank.rank == 2 %>
                          <li class='breadcrumb-item' style='color: #5BC0DE'><%= rank.pitch.title%></li>
                        <% elsif rank.rank == 3 %>
                          <li class='breadcrumb-item' style='color: #F0AD4E'><%= rank.pitch.title%></li>
                        <% else %>
                          <li class='breadcrumb-item'><%= rank.pitch.title%></li>
                        <% end %>
                    <% end %>
                  </ol>
            <% end %>
          </div>
        </div>
    <% end %>
</div
