<div class="container">

  <div class="row">
    <% if @notice %>
      <span><%= @notice%></span>
    <% else %>

    <% @students.each do |student| %>
      <div class="col-md-3 col-xs-12">
          <ul class="list-group">
            <li class='list-group-item'><b><%= student.full_name%></b></li>
            <% student.ranks.order(:rank).each do |rank|%>

              <% if rank.rank == 1 %>
                <li class='list-group-item'><span style='color: #5cb85c'><%= rank.rank%>. <%= rank.pitch.title%></span></li>
              <% elsif rank.rank == 2 %>
                <li class='list-group-item '><span style='color: #5BC0DE'><%= rank.rank%>. <%= rank.pitch.title%></span></li>
              <% elsif rank.rank == 3 %>
                <li class='list-group-item '><span style='color: #F0AD4E'><%= rank.rank%>. <%= rank.pitch.title%></span></li>
              <% else %>
                <li class='list-group-item '><span><%= rank.rank%>. <%= rank.pitch.title%></span></li>
              <%end%>

            <% end %>
          </ul>
      </div>
    <% end %>
    </div>
  </div>
<!-- <div class="container">
  <div class="row">
    <div id="div" class='col-md-3' ondrop="drop(event)" ondragover="allowDrop(event)">

    </div>
    <div id="div2" class='col-md-3' ondrop="drop(event)" ondragover="allowDrop(event)">

    </div>
    <div id="div3" class='col-md-3' ondrop="drop(event)" ondragover="allowDrop(event)">

    </div>
    <div id="div4" class='col-md-3' ondrop="drop(event)" ondragover="allowDrop(event)">

    </div>
  </div>
</div> -->
  <!-- <div class="container">
    <div class="row" id='div1' ondrop="drop(event)" ondragover="allowDrop(event)">
      <% @pitches.each do |pitch| %>
        <div class="col-md-3">

          <% (pitch.ranks.where(rank: 1)).each do |res| %>
            <ul class="list-group" draggable="true" ondragstart="drag(event)" id="drag<%= res.id%>">
              <li class='list-group-item'><b><%= res.student.full_name%></b></li>
              <li class="list-group-item"><%= res.pitch.title%></li>
                <% res.student.ranks.each do |vote| %>
                  <% if vote.rank > 1 %>
                    <li class="list-group-item"><%= vote.pitch.title %></li>
                  <% end %>
                <% end %>
            </ul>
          <% end %>

        </div>
      <% end %>
    </div>
  <% end %>
  </div> -->
  <!-- <div class="container"><div class='row'>
    <% Student.all.each do |student| %>
      <div class="col-md-4">
        <ul class="list-group">
          <li class='list-group-item'><b><%= student.full_name%></b></li>
          <% student.ranks.order('rank ASC').each do |rank |%>
            <li class="list-group-item"><%= rank.rank%>. <%= rank.pitch.title%></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div> -->
