<div class="container">
  <div class="row">
    <% @pitches.each_with_index do |pitch, idx| %>
      <div class="col-md-6 col-xs-12">
          <div class="card">
            <div class="card-header">
              <b class="card-title"><%= pitch.title%></b> (<%= pitch.student.full_name%>)
            </div>
            <div class="card-block" id="pitch<%= idx+1%>">

            </div>
          </div>
      </div>
    <% end %>
    </div>
  </div>



<div class="container" id="allstudents">
  <div class="row">
    <% Student.all.each do |student| %>
      <div class="col-md-4">
      <div class='card student-card'>
        <h7><b><%= student.full_name%></b>
       </h7>
        <ul class="list-group list-group-flush my-card">
          <% student.ranks.order('rank ASC').each do |rank| %>
            <li class="list-group-item"><%= rank.rank%>. <%= rank.pitch.title%></li>
          <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
