<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:500" rel="stylesheet">
  </head>

  <body>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.2/dragula.min.js"></script>
    <nav class="navbar navbar-light bg-faded navbar-fixed-top" style="background-color: #758b9c;">

      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
      </button>

        <a class="navbar-brand brand" href="/home">Final Project</a>
      </div>

      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <ul class="nav navbar-nav pull-xs-right pull-md-right pull-lg-right">
          <% if loggin? %>

              <% if current_user.type == 'Student'%>
                <li class="nav-item"><a class="nav-link itm" href="/firstround">Round 1</a></li>
                <li id='round2' class="nav-item"><a class="nav-link" href="/ranking">Round 2</a></li>
              <% else %>
                <li class="nav-item"><a class="nav-link" href="/votingresult">Voting result</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams">Creating teams</a></li>
                <li class="nav-item"><a class="nav-link" href="/teachers/<%=current_user.id%>/edit">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/teams/dashboard">Dashboard</a></li>

              <% end %>

            <% if current_user.type == 'Student'%>
              <li class="nav-item"><a class="nav-link" href="/pitches">My pitches</a></li>
              <li class="nav-item"><a class="nav-link" href="/students/<%=current_user.id%>/edit">Profile</a></li>
            <% else %>
              <li class="nav-item"><a class="nav-link" href="/cohorts/new">Settings</a></li>
            <% end %>
              <li class="nav-item"><a class="nav-link" href="/logout"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
            <% end %>
        </ul>
      </div>

    </nav>

    <%= yield %>

    <footer class="footer">
      <p class='text-center'>
        DBC New York
      </p>
      </footer>
  </body>
</html>
